################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/out/build
/.vs
/CMakeSettings.json
/.vscode
